@import url("fonts.css");
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
    font-weight: normal;
    color: #434242;
    font-size: 16px;
    line-height: 1.3;
    background: #fff;overflow-x: hidden;
}
a {
    color: #0a3376;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 600;
    font-family: "Montserrat", sans-serif;
    color: #0a3376;
}
p {
    color: #434242;
}
.white-background{background-color:#fff;color: #434242;}
.white-background p{color: #434242;}
.white-background h1,
.white-background h2,
.white-background h3,
.white-background h4,
.white-background h5,
.white-background h6{color: #0a3376;}

.headerTop.HomeMenu {
    position: relative;
    top: 0;
    left: 0;
    z-index: 99;
    width: 100%;transition: all .5s ease;
}
.headerTop.HomeMenu.vjClass {
  position: fixed;
  background: #fff;
 box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
}
.headerTop.HomeMenu .navbar {
    padding: 20px 0px;
}
.headerTop.HomeMenu .navbar .nav-link {
   font-size: 15px;
    line-height: 20px;
   text-transform: uppercase;
    color: #221f1f;font-weight: 600;
}
.headerTop.HomeMenu .navbar .nav-link:hover,
.headerTop.HomeMenu .navbar .nav-link.active {
  color: #0a3376;
}
.headerTop.HomeMenu .navbar .navbar-nav.real-menu {
    align-items: center;
}

.headerTop.HomeMenu .navbar .navbar-nav.real-menu .nav-item:first-child {
    margin-left: 0px;
}
.headerTop.HomeMenu .navbar .navbar-nav.real-menu .nav-item:last-child {
    margin-right: 0px;
}
.headerTop.HomeMenu .navbar .navbar-nav.real-menu .nav-item {
    margin: 0 16px;
}
.headerTop.HomeMenu .navbar .navbar-brand img {
    width: 200px;
}
.headerTop.HomeMenu .navbar .navbar-nav.real-menu .nav-item .navbar-brand {
    margin-right: 0;
}
.headerTop.HomeMenu.vjClass .navbar {
  padding-top: 10px;
  padding-bottom: 10px;
}


.section-space {
    padding-top: 100px;
    padding-bottom: 100px;
}
.section-space-top {
    padding-top: 100px;
   
}
.section-space-bottom {
   padding-bottom: 100px;
}
.section-bg-color{background-color:#ebecec;}
.section-title {
  font-weight: 600;
  font-size: 35px;
  margin: 0px 0 25px;
  position: relative;text-transform: uppercase;
 
}
.section-my-80{margin: 80px 0px;}
.section-mt-80{margin-top: 80px;}
.section-mb-80{margin-bottom: 80px;}
.section-title-area {
  margin-bottom: 50px;
}
.section-sub-title {
  text-transform: uppercase;
  position: relative;
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: 600;
}
.explore-btn {
  display: inline-block;
  background: linear-gradient(90deg, rgba(6,116,165,1) 0%, rgba(7,19,95,1) 100%);;
  color: #fff;
  text-decoration: none;
  transform: scale(1);
  padding: 12px 20px;
  transition: all .3s;
  border: 1px solid #0a3376;
  text-transform: uppercase;
  border-radius: 10px;
}
.explore-btn:hover{transform: scale(.9);background:#fff;color:#0a3376;}


.section-title.big-size {
  font-size: 50px;
}

.section-bg-second-color {
  background-color: #0a3376;
}

.text-theme{color:#0a3376 !important;}
.section-title.before {
  padding-bottom: 15px;
}
.section-title.before::before {
  content: '';
  background: linear-gradient(90deg, rgb(6, 116, 165) 0%, rgb(7, 19, 95) 100%);
  position: absolute;
  width: 290px;
  height: 2px;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
}
.section-title.before.text-white::before{background: #fff;}

.footer .copyright-area {
  text-align: center;background: linear-gradient(90deg, rgba(6,116,165,1) 0%, rgba(7,19,95,1) 100%);padding:20px 0px;
}
.footer .copyright-area p{color:#fff; margin-bottom:0px;}

.home-hero-area .home-banner-img {
  width: 100%;
}
.home-hero-area {
  position: relative;
}
.home-hero-content {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  height: 100%;
  display: grid;
  align-content: end;
  text-align: center;
}
.home-hero-content .section-title,
.home-hero-content p {
  color: #fff;
}
.home-hero-content .explore-btn {
  margin-top: 30px;
  background: #fff;
  color: #0a3376;
}
.home-hero-content .explore-btn:hover {
 background: linear-gradient(90deg, rgba(6,116,165,1) 0%, rgba(7,19,95,1) 100%);;
  color: #fff;
}

.home-hero-content .section-sub-title {
  margin-bottom: 40px;
  position: relative;font-size: 28px;
}
.home-hero-content p {
 font-size: 24px;
}
.home-hero-content .section-sub-title::before {
  content: '';
  position: absolute;
  background: #fff;
  height: 2px;
  width: 110px;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
}
.section-title-area p{
  font-size: 20px;
}
.about-area .about-img {
  margin-left: 60px;
}
.about-area .about-img img {
  border-radius: 15px;
}
.feature-block {
  margin-top: 50px;
}
.feature-block .feature-box {
  padding: 15px;
  padding-top: 0;
  border: 2px solid;
  height: 100%;
  text-align: center;
  border-image: linear-gradient(to right, rgb(6, 116, 165) 0%, rgb(7, 19, 95) 100%) 1;
}
.feature-block .feature-box p {
  margin-bottom: 0;
  font-size: 20px;
}
.feature-block .feature-box strong {
  display: block;
  margin-bottom: 9px;
  font-weight: 600;
  text-transform: uppercase;
  color: #0a3376;
  font-size: 24px;
}
.feature-block .feature-box .feature-icon img {
  width: 80px;
}
.feature-block .feature-box .feature-icon {
  height: 100px;
  width: 100px;
  background: #fff;
  border-radius: 50%;
  display: grid;
  align-content: center;
  justify-content: center;
  margin: -50px auto 0;
}
.organizations-box {
  display: flex;
  padding: 15px;
  border: 2px solid;
  border-image: linear-gradient(to right, rgb(6, 116, 165) 0%, rgb(7, 19, 95) 100%) 1;align-items: center;
}
.organizations-box .organizations-img {
  width: 50px;
}
.organizations-box .organizations-img img {
  width: 50px;
}
.organizations-box .organizations-text {
  width: calc(100% - 50px);
}
.organizations-box .organizations-text p {
  margin-bottom: 0;
  font-size: 20px;
}
.our-approach-area {
  background-image: url(../images/consulting2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.our-approach-area .approach-box {
  padding: 15px;
  text-align: center;
  background: #fff;height:100%;
  border-radius: 20px;
}
.our-approach-area .approach-box strong {
  display: block;
  margin-bottom: 9px;
  font-weight: 600;
  text-transform: uppercase;
  color: rgb(10, 51, 118);
  font-size:24px;
}
.our-approach-area .approach-box p {
  margin-bottom: 0px;
  font-size: 20px;
}
.our-approach-area .approach-box .approach-icon{ margin-bottom: 0px;}
.our-approach-area .approach-box .approach-icon img {
  width: 80px;
}
.success-stories-area .success-stories-box {
  background-color: #ebecec;
  border-radius: 15px;
  padding: 20px 30px;box-shadow: 0 0 5px #a6a6a6;height: 100%;
  display: grid;
  align-content: space-between;
}
.accordion-body p{
  font-size: 20px;
}
.success-stories-area .success-stories-box h4 {
  font-size: 24px;
  text-transform: uppercase;
  margin-bottom: 12px;
}
.success-stories-box p{
  font-size: 20px;
}
.success-stories-area .success-stories-box strong {
  font-weight: 600;
  text-transform: uppercase;
  display: block;
  margin-bottom: 2px;
}
.success-stories-area .success-stories-box .explore-btn {
  font-size: 14px;
  padding: 7px 10px;
}
.testimonials-area .testimonial-box {
  background-color: #fff;
  border-radius: 15px;margin: 20px;
  padding: 30px 15px;box-shadow: 0 0 5px #a6a6a6;text-align:center;position:relative;overflow: hidden;
}
.testimonials-area .testimonial-box::before{
  content: '';
  background: linear-gradient(90deg, rgb(6, 116, 165) 0%, rgb(7, 19, 95) 100%);
  position: absolute;
  width: 100%;
  height: 10px;
  left: 0;
  top: 0;
}
.testimonials-area .testimonial-box strong {
  font-weight: 600;
  text-transform: uppercase;
  display: block;
  color: #0a3376;
}
.testimonial-slider .swiper-pagination {
bottom: 0;position:relative;}

.faqs-area .accordion-item {
  margin-bottom: 20px;
  border: none;
  box-shadow: 0 0 5px #a6a6a6;
  background-color: #ebecec;
}
.faqs-area .accordion-item:last-child {
  margin-bottom: 0px;
}
.faqs-area .accordion-item .accordion-button {
  background: none;
  box-shadow: none;
}
.faqs-area .accordion-item .accordion-button h5 {
  font-size: 18px;
  text-transform: uppercase;
  margin-bottom: 0;
}
.faqs-area .accordion-item .accordion-body p:last-child{margin-bottom: 0px;}
.faqs-area .accordion-item .accordion-body {
  padding-top: 0;
}

.consulting-area {
  position: relative;
}
.consulting-area .container {
  position: relative;
}
.consulting-area::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: linear-gradient(90deg, rgb(6, 116, 165) 0%, rgb(7, 19, 95) 100%);
  height: 250px;
}
.business-need-area {
  background: linear-gradient(90deg, rgba(6,116,165,1) 0%, rgba(7,19,95,1) 100%);;
}
.business-need-area .business-box {
  padding: 0px 15px 15px;
  border: 2px solid #fff;
  height: 100%;
 
}
.business-need-area .business-box p{color:#fff;margin-bottom:0px;}
.business-need-area .business-box .business-img {margin-top: -40px;height: 80px;background: linear-gradient(90deg, rgba(6,116,165,1) 0%, rgba(7,19,95,1) 100%);;
  border-radius: 50%;justify-content: center;
  display: grid;
  align-content: center;
width: 80px;margin-bottom:10px;}
.business-need-area .business-box .business-img img{width:60px;}

.business-need-area .business-box ul li{color:#fff;margin-bottom:7px;
font-size: 20px;
}
.business-need-area .business-box ul li:last-child{margin-bottom:0px;}
.business-need-area .business-box ul{padding-left:15px;}
.deeper-systemic-area {
  background-image: url(../images/bootcamp2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.deeper-systemic-area .deeper-systemic-box {
  padding: 20px;
 background: #fff;height:100%;
 
}
.row .col-md-4:first-of-type .business-box .business-img img {
  transform: rotate(182deg);
}


.deeper-systemic-area .deeper-systemic-box strong {
  display: block;
  margin-bottom: 9px;
  font-weight: 600;
  text-transform: uppercase;
  color: rgb(10, 51, 118);
  font-size: 24px;
}
.deeper-systemic-area .deeper-systemic-box p {
  margin-bottom: 0px;
  font-size: 20px;
}
.team-transformations-box p{
  font-size: 20px;
}
.deeper-systemic-area .deeper-systemic-box ul li {
  margin-bottom: 7px;
  font-size: 16px;color: #434242;
}
.deeper-systemic-area .deeper-systemic-box ul{padding-left:15px;}
.deeper-systemic-area .deeper-systemic-box ul li:last-child {
  margin-bottom: 0px;
}
.deeper-systemic-area .deeper-systemic-box img {
  width: 80px;
}
.program-structure-area .nav.nav-tabs {
  border: 2px solid #0a3376;
  box-shadow: none;
  background: transparent;
}
.consulting-area .section-sub-title{
  font-size: 28px !important; 
}
.program-structure-area .nav.nav-tabs .nav-link {
  color: #0a3376;
  font-weight: 600;
  width: 100%;
  text-align: left;
  text-transform: uppercase;
  border: none;
  border-bottom: 2px solid #0a3376;
  box-shadow: none;border-radius:0px;
  margin: 0; background: transparent;
}
.program-structure-area .nav.nav-tabs .nav-link:last-child{border-bottom: none;}
.program-structure-area .nav.nav-tabs .nav-link:last-child{border-bottom: none;}
.program-structure-area .nav.nav-tabs .nav-link:hover,
.program-structure-area .nav.nav-tabs .nav-link.active{color: #fff; background: linear-gradient(90deg, rgba(6,116,165,1) 0%, rgba(7,19,95,1) 100%);}
.program-structure-area .program-box p strong {
  font-weight: 600;font-size: 18px;
  text-transform: uppercase;color:#0a3376;display:block;
}
.program-structure-area .program-box ul {
  padding: 0;
  margin: 0;
}
.program-structure-area .program-box ul li {
  font-size: 20px;
  margin-bottom: 8px;
  position: relative;
  display: block;
  padding-left: 24px;
  background-image: url(../images/check.png);
  background-repeat: no-repeat;
  background-size: 16px;
  background-position: 0px 3px;
}

.should-attend-area .should-attend-box {
  position: relative;
  background: #ebecec;
  padding: 20px;
  box-shadow: 0 0 5px #a6a6a6;margin-top: 20px;
  margin-left: 20px;height:  calc(100% - 20px);
}
.should-attend-area .should-attend-box::before {
  content: '';
  background: linear-gradient(90deg, rgba(6,116,165,1) 0%, rgba(7,19,95,1) 100%);
  height: 100%;
  width: 100%;
  top: -20px;
  left: -20px;
  position: absolute;
  z-index: -9;
}
.should-attend-area .should-attend-box strong {
  font-weight: 600;
  text-transform: uppercase;color:#0a3376;display:block;margin-bottom:15px;font-size: 24px;
}
.should-attend-area .should-attend-box ul {
  padding: 0;
  margin: 0;
}
.should-attend-area .should-attend-box ul li {
  font-size: 20px;
  margin-bottom: 8px;
  position: relative;
  display: block;
  padding-left: 24px;
  background-image: url(../images/check.png);
  background-repeat: no-repeat;
  background-size: 16px;
  background-position: 0px 3px;
}

.team-transformations-area .team-transformations-box {
  background-color: #fff;
  border-radius: 0px;
 padding: 30px 15px;
  box-shadow: 0 0 5px #a6a6a6;
  text-align: center;
  position: relative;
  overflow: hidden;
}
.team-transformations-area .team-transformations-box::before {
  content: '';
  background: linear-gradient(90deg, rgb(6, 116, 165) 0%, rgb(7, 19, 95) 100%);
  position: absolute;
  width: 100%;
  height: 10px;
  left: 0;
  top: 0;
}
.team-transformations-area .team-transformations-box strong {
  font-weight: 600;
  text-transform: uppercase;
  display: block;
  color: #0a3376;
}
.team-transformations-area .team-transformations-box strong span{color: #434242;}

.faqs-area.second .accordion-item {
  background-color: #fff;
  padding: 0 25px;
}
.collaborating-area {
  position: relative;
}
.collaborating-area::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: linear-gradient(90deg, rgb(6, 116, 165) 0%, rgb(7, 19, 95) 100%);
  height: 130px;
}
.collaborating-area .container {
  position: relative;
}
.collaborating-area .collaborating-img {
  background: #fff;
  padding: 20px;
}
.collaborating-planing {
  padding: 0;
  margin: 0;
}
.collaborating-planing li img {
  width: 40px;
}
.collaborating-planing li p {
  color: #fff;
  margin-bottom: 0;
  font-weight: 600;
  width: calc(100% - 50px);font-size: 14px;
}
.collaborating-planing {
  padding: 0;
  margin: 0;
 display: flex;position: absolute;bottom: -50px;
  
}
.collaborating-planing li {
  display: flex;
  border-right: 1px solid #fff;
  padding-right: 15px;
  margin-right: 15px;
  flex-wrap: wrap;
  width: 245px;
  gap: 10px;
}
.collaborating-planing li:last-child {
 border-right: none;
  padding-right: 0px;
  margin-right: 0px;
 
}
.collaborating-about .feature-block .feature-box {
  padding-top: 15px;
}
.collaborating-about .feature-block {
  margin-top: 20px;
}
.collaborating-teams .organizations-box .organizations-text {
  width: 100%;
}
.consulting-area .section-title-area p {
  font-size: 24px;
}
.collaborating-area
.section-title-area p{
  font-size: 24px;
}
.collaborating-area
.section-sub-title{
  font-size: 28px !important;
}
/* Responsive Css*/

@media (max-width: 991.98px) {
    #navbarNav.collapse:not(.show) {
        transform: translate(100%);
    }

    #navbarNav.collapse.show {
        transform: translate(0%);
    }

    .navbar-toggler:focus {
        box-shadow: unset;
    }

    .navbar-light .navbar-toggler-icon {
        background: unset;
    }
    .navbar-light .navbar-toggler {
        border-color: #ffffff82;
        padding: 8px;border: none;
    }

    .navbar-light .navbar-toggler-icon {
        height: 2px;
        width: 30px;
        border-radius: 2px;
        background: #0a3376;
        position: relative;
    }

    .navbar-light .navbar-toggler-icon::after {
        content: "";
        height: 2px;
        width: 30px;
        position: absolute;
        right: 0;
        bottom: -8px;
        border-radius: 2px;
        background: #0a3376;
    }

    .navbar-light .navbar-toggler-icon::before {
        content: "";
        height: 2px;
        width: 30px;
        position: absolute;
        right: 0;
        top: -9px;
        border-radius: 2px;
        background: #0a3376;
    }

    .vijayMenu {
        position: fixed;
        top: 0;
        right: 0;
        background: #0a3376;
        height: 100%;
        overflow-y: scroll;
        width: 280px;
        transition: all 0.5s ease;
        padding: 100px 30px 30px;
        z-index: 9;
        border-left: 1px solid #fff;
    }
    .headerTop.HomeMenu .navbar .navbar-nav.real-menu {
        width: 100%;
    }
    .headerTop.HomeMenu .navbar .navbar-nav.real-menu .nav-item {
        margin: 5px 0;
        width: 100%;
    }
    .headerTop.HomeMenu .navbar .nav-link {
       font-size: 18px;
    line-height: 24px;
    color: #fff;
    }
	.headerTop.HomeMenu .navbar .nav-link:hover, .headerTop.HomeMenu .navbar .nav-link.active {
  color: #fff;
}

    #navbarNav.collapse:not(.show) {
        display: block !important;
    }
    .vjClass .navbar-light .navbar-toggler-icon {
        background-color: #0a3376;
    }
    .vjClass .navbar-light .navbar-toggler-icon::after {
        background-color: #0a3376;
    }
    .vjClass .navbar-light .navbar-toggler-icon::before {
        background-color: #0a3376;
    }
    .navbar-toggler.mitem {
        padding: 0;
        color: #0a3376;
        border: none;
        position: absolute;
        right: 40px;
        top: 25px;
    }
}

@media only screen and (max-width: 767px) {
 .home-hero-area {
  height: 70vh;
} 
.home-hero-area .home-banner-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top left;
}
.section-title.big-size {
  font-size: 30px;
}
.section-space-bottom {
  padding-bottom: 60px;
}
.home-hero-content .section-sub-title {
margin-bottom: 30px;}
.section-title {
 font-size: 27px;
margin: 0px 0 15px;} 
.home-hero-content .explore-btn {
margin-top: 10px;}
.headerTop.HomeMenu .navbar {
  padding: 5px 0px;
}
.section-space {
  padding-top: 50px;
  padding-bottom: 50px;
}
.about-area .about-img {
  margin-left: 0;
}
.section-space-top {
  padding-top: 50px;
}
.section-space-bottom {
  padding-bottom: 50px;
}
.section-title-area {
  margin-bottom: 30px;
}
.section-title.before::before {
 
width: 210px;}
.our-approach-area .approach-box {
 height: auto;
  margin-top: 20px;
}
.consulting-area .section-title.big-size.mb-0 {
  margin-bottom: 15px !important;
}
.section-mb-80 {
  margin-bottom: 35px;
}
.section-mt-80 {
  margin-top: 35px;
}
.section-my-80 {
  margin: 35px 0px;
}
.consulting-area::before {
  height: 90px;
}
.business-need-area .business-box {
  height: auto;
  margin-top: 70px;
}
.business-need-area .section-title-area {
  margin-bottom: 0;
}
.business-need-area .section-title-area .section-title{margin-bottom: 0;}
.program-structure-area .program-box {
  margin-top: 30px;
}
.faqs-area.second .accordion-item {
  padding: 0 0;
}
.collaborating-area::before {
  height: 90px;
}
.collaborating-area .collaborating-img {
  padding: 10px;
  margin-top: 30px;
}
}
