.footer {
  background-color: #f9b418;
}
.footer-container {
  max-width: 100%;
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}
.footer_logo {
  width: 30%;
}
.footer_logo img {
  max-width: 100%;
  width: 250px;
  height: auto;
}

.explore {
  width: 45%;
  padding: 20px 10px;
}
.explore h4 {
  font-family: "Oxygen", sans-serif;
  font-size: 20px;
  color: #ffffff;
  font-weight: 300;
  padding-right: 20px;
}
#links {
  list-style: none;
  width: 50%;
}
#links li {
  padding: 10px 0;
  border-bottom: 1px solid #fff;
  position: relative;
  line-height: 15px;
  box-sizing: border-box;
  font-size: 30px;
}
#links li a {
  text-decoration: none;
  font-size: 12px;
  font-weight: 600;
  color: #000;
  transition: 0.3s ease-in-out;
  color: #fff;
  text-align: center;
}
.container{
    max-width: 100%;
    width: 90%;
    margin: auto;
}

.copyright {
  display: flex;
  justify-content:space-between;
  align-items:center;
  padding: 20px ;

}
.copyright h6 {
  font-size: 12px;
  font-family: serif;
  color: DARKGRAY;
  font-weight: 200;
}

.handle a {
  color:#fff;
  gap: 10px;
  font-size: 40px;
  padding: 20px;
  
}
.handle a svg{
    width: 30px;
    height: 30px;
    background-color: gray;
    border-radius: 10px;
    padding: 5px;
}
@media only screen and (max-width: 768px) {
  .footer-container,.copyright{
    flex-direction: column;

  }
  .footer-container{
    max-width: 100%;

    
  }
  .copyright h6{
    text-align: center;
  }

 .footer_logo img {
    max-width: 100%;
    height: auto;
  }
.handle a {
    text-align: center;
}
  

 
}
