* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    font-size: 1em;
    font-family: "Lora", serif;
    font-weight: 400;
    line-height: 1.45;
    color: #656565;
    overflow-x: hidden;
}

.container {
    max-width: 100%;
    width: 90%;
    margin: auto;
}

.wrapper {
    padding: 50px 0;
}

.page_title {
    background-color: #f9b418;
}

.page_title h1 {
    margin-left: 5.8%;
}

.slide_Wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    gap: 8%;
}

.slide_bg {
  padding: 34px 23px;
  background-color: #faed27;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  margin: 30px auto;
  width: 25%;
  align-items: center;
}

.slide_bg img {
    max-width: 100%;
    height: auto;
    width: 50%;
    margin: 0 auto 23px;
    vertical-align: bottom;
}

.text_Wrap {
    width: 75%;
    margin: auto;
    text-align: justify;
}

.reference {
    display: flex;
    justify-content: space-between;
    gap: 5%;
    margin: auto;
}

.reference .d-flex {
    position: relative;
    margin: 30px auto;
    text-align: center;
}

.reference .d-flex p {
    text-align: justify;
}

.reference .wrapper {
    width: 50%;
}

.vc_sep_line {
  height: 1px;
  border-top: 1px solid #ebebeb;
  border-color: #ebebeb;
  display: block;
}

.whats_new .d-flex {
  display: flex;
  gap: 5%;
  margin: 30px 0;
}

.whats_new_slide_bg {
  padding: 56px 0px;
  background-color: #faed27;
  text-align: center;
  width: 26%;
  height: 100%;
  border-radius: 10px;
}

.whats_new_slide_bg img {
  width: 70px;
}

.whats_new_slide_bg h3 {
  margin-top: 10px;
}

.rich-text-content a {
  color: #89c4f4;
  text-decoration: none;
  font-size: 18px;
}

.rich-text-content a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 768px), (max-width: 360px) {
  .slide_Wrap,
  .slide_bg,
  .reference,
  .whats_new .d-flex,
  .vc_sep_line {
    flex-direction: column;

    align-items: center;
  }
  body,
  .slide_bg img,
  .container,
  .text_Wrap,
  .whats_new_slide_bg img,
  .slide_bg {
    max-width: 100%;
    margin: auto;
  }
  .slide_Wrap {
    gap: 100px;
  }
  .slide_bg {
    width: 100%;
  }
  .whats_new_slide_bg {
    width: 100%;
  }
  .reference .d-flex {
    text-align: center;
    margin: auto;
  }
  .reference .d-flex h2 {
    margin-top: 10px;
    text-align: left;
    font-size: 22px;
  }
  .reference .wrapper {
    width: 100%;
  }
  .rich-text-content {
    margin: 20px;
    padding: 10px;
  }
  .text_Wrap {
    width: 100%;
  }
  .text_Wrap h2 {
    text-align: left;
  }
  nav {
    padding: 20px;
  }
}

.about .d-flex {
    display: flex;
    justify-content: center;
    gap: 8%;
    margin: 50px auto;
    width: 100%;
    box-shadow: 0px 0.9px 0.8px 2.4px #2a2a2a14;
    padding: 5px;
}

.profile_img {
    width: 20%;
}

.profile_img img {
    width: 100%;
}

.rich-text-content {
    width: 70%;
    text-align: justify;
}